<h1>YOUR TRAVELS</h1>
<div class="row">
    <div class="col-10">
    <%= @user.email %>
    <ul>
        <li>Fuel: <span id="fuel"><%= @user.fuel %></span></li>
        <li>Food: <span id="food"><%= @user.food %></span></li>
        <li>Gold: <span id="gold"><%= @user.gold %></span></li>
    </ul>
    <% @user.logs.each do |log| %>
        <p><%= log.description %></p>
    <% end %>
    </div>

    <div class="col-2">
        <%= button_to 'Back', :back, :method => 'get', :id => 'discover' %>
    </div>
</div>