<h1>New Planet</h1>

<%= form_for @planet do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :fuel %>
    <%= f.text_field :fuel %>
    <%= f.label :food %>
    <%= f.text_field :food %>
    <%= f.label :gold %>
    <%= f.text_field :gold %>

    <%= f.submit "Create Planet" %>
<% end %>
