<h1><%= @planet.name.upcase %></h1>

<main>
<h3>Resources:</h2>
<ul>
    <li>Name: <%= @planet.name %></li>
    <li>Fuel: <%= @planet.fuel %> </li>
    <li>Food: <%= @planet.food %></li>
    <li>Gold: <%= @planet.gold %></li>
</ul>

<%= link_to 'Extract', extract_planet_path(@planet.id), :method => 'put' %>

<% if @planet.moons.present? %>
    <p>Travel to Moon:</p>
    <% @planet.moons.each do |moon| %>
        <%= link_to moon.name, moon %>
    <% end %>
<% else %>
    <p>Sorry, no Moons to explore</p>
<% end %>
</main>

<aside>
    <%= link_to 'All planets', planets_path, :method => 'get' %> <br>
    Your Resources: <br>
    Fuel: <%= @current_user.fuel %> <br>
    Food: <%= @current_user.food %> <br>
    Gold: <%= @current_user.gold %> <br>
    <%= link_to 'Your Travels', user_path(@current_user), :class => 'stats' if @current_user.present? %>
</aside>    
    
    
<%# link_to image_tag(work.image, :class => 'thumb'), work %>