<h1>Welcome to Planet <%= @planet.name.upcase %></h1>

<div class="row">
    <div class="col-10">
        <h3>Resources:</h2>
        <ul>
            <li>Name: <%= @planet.name %></li>
            <li>Fuel: <%= @planet.fuel %></li>
            <li>Food: <%= @planet.food %></li>
            <li>Gold: <%= @planet.gold %></li>
            <li><%= button_to 'Extract', extract_planet_path(@planet.id), :method => 'put', :id => 'discover' %></li>
        </ul>

        <% if @planet.moons.present? %>
            <p>Travel to Moon:</p>
            <% @planet.moons.each do |moon| %>
                <li>
                    <%= link_to moon.name, moon %>
                </li>
            <% end %>
        <% else %>
            <p>Sorry, no Moons to explore</p>
        <% end %>
    </div>

    <div class="col-2">
        <%= button_to 'All planets', planets_path, :method => 'get', :id => 'discover' %><br>
        Your Resources: <br>
        Fuel: <%= @current_user.fuel %> <br>
        Food: <%= @current_user.food %> <br>
        Gold: <%= @current_user.gold %> <br>
    </div>
</div>
    
    
<%# link_to image_tag(work.image, :class => 'thumb'), work %>